@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UCABPagaloTodoWeb.Models.UpdateServiceViewModel
@{
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");    
    }
    }

<div class="col-md-12 col-sm-12">
    <div class="col-md-4">
        <form asp-action="UpdateServiceAction" asp-controller="UpdateService" method="post">
            <input type="hidden" name="Username" value="@Model.Username">
            <div class="form-group">
                <label>Nombre del Servicio</label>
                <input type="text" name="ServiceName" class="form-control" placeholder="Servicio" value="@Model.ServiceName">
                @Html.ValidationMessageFor(m => m.ServiceName ,null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tipo de Servicio</label>
                <input type="text" name="TypeService" class="form-control" placeholder="Tipo" value="@Model.TypeService">
                @Html.ValidationMessageFor(m => m.TypeService ,null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Número de Contacto1</label>
                <input type="text" name="ContactNumber" class="form-control" placeholder="Número" value="@Model.ContactNumber"
                    data-val-regex-pattern="^[0-9]*$" data-val-regex="El número de teléfono debe ser un valor numérico." data-val-length-min="11" data-val-length-max="15"
                    data-val-length="La longitud del número de teléfono debe estar entre 11 y 15 caracteres.">
                @Html.ValidationMessageFor(m => m.ContactNumber ,null, new { @class = "text-danger" })
            </div>
            <div class="botones">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
                <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="AdminHomeView">Cancelar</a>
            </div>
        </form>
        <p>@ViewBag.Error</p>
    </div>
</div>